src/main/resources/query.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:dateTime" name="arrivalDate">
          <xs:annotation>
            <xs:documentation>Optional:</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:short" name="fromPostcode">
          <xs:annotation>
            <xs:documentation>Optional:</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="productIds" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Zero or more repetitions:</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="EPARCEL-EXP"/>
              <xs:enumeration value="EPARCEL-REG"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element type="xs:short" name="toPostcode">
          <xs:annotation>
            <xs:documentation>Optional:</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>