src/main/resources/wsdl/SapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.sample/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="sapWS" targetNamespace="http://service.ws.sample/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ws.sample/" targetNamespace="http://service.ws.sample/" version="1.0">

  <xs:complexType name="productQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalDate" type="xs:string"/>
      <xs:element minOccurs="0" name="fromPostcode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="productIds" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="toPostcode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arrivalDayOfWeek" type="xs:string"/>
      <xs:element minOccurs="0" name="dayId" type="xs:string"/>
      <xs:element minOccurs="0" name="dayOfWeek" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="dispatchDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endTime" type="xs:string"/>
      <xs:element minOccurs="0" name="productId" type="xs:string"/>
      <xs:element minOccurs="0" name="startTime" type="xs:string"/>
      <xs:element minOccurs="0" name="tsId" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="#all" name="productInfoArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:productInfo"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProductInfoResponse">
    <wsdl:part name="returnedProductInfo" type="tns:productInfoArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductInfo">
    <wsdl:part name="getProductInfo" type="tns:productQuery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SapWS">
    <wsdl:operation name="getProductInfo">
      <wsdl:input message="tns:getProductInfo" name="getProductInfo">
    </wsdl:input>
      <wsdl:output message="tns:getProductInfoResponse" name="getProductInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sapWSSoapBinding" type="tns:SapWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProductInfo">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getProductInfo">
        <soap:body namespace="http://service.ws.sample/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductInfoResponse">
        <soap:body namespace="http://service.ws.sample/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sapWS">
    <wsdl:port binding="tns:sapWSSoapBinding" name="sapWSPort">
      <soap:address location="http://sapem-sapem.apps.openshift.megatron.world/service/SapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>