src/main/resources/wsdl/StartrackService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.startrack/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="startrackWS" targetNamespace="http://service.ws.startrack/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ws.startrack/" targetNamespace="http://service.ws.startrack/" version="1.0">

  <xs:complexType name="stProductQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalDate" type="xs:string"/>
      <xs:element minOccurs="0" name="fromPostcode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="productIds" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="toPostcode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arrivalDayOfWeek" type="xs:string"/>
      <xs:element minOccurs="0" name="dayId" type="xs:string"/>
      <xs:element minOccurs="0" name="dayOfWeek" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="dispatchDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endTime" type="xs:string"/>
      <xs:element minOccurs="0" name="productId" type="xs:string"/>
      <xs:element minOccurs="0" name="startTime" type="xs:string"/>
      <xs:element minOccurs="0" name="tsId" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="#all" name="stProductInfoArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:stProductInfo"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStProductInfo">
    <wsdl:part name="getStProductInfo" type="tns:stProductQuery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStProductInfoResponse">
    <wsdl:part name="returnedStProductInfo" type="tns:stProductInfoArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StartrackWS">
    <wsdl:operation name="getStProductInfo">
      <wsdl:input message="tns:getStProductInfo" name="getStProductInfo">
    </wsdl:input>
      <wsdl:output message="tns:getStProductInfoResponse" name="getStProductInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="startrackWSSoapBinding" type="tns:StartrackWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStProductInfo">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getStProductInfo">
        <soap:body namespace="http://service.ws.startrack/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStProductInfoResponse">
        <soap:body namespace="http://service.ws.startrack/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="startrackWS">
    <wsdl:port binding="tns:startrackWSSoapBinding" name="startrackWSPort">
      <soap:address location="http://startrack-startrack.apps.openshift.megatron.world/service/StartrackService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>